<p style="color: green", align=center><%= flash[:notice] %></p>
<h2>Thank You!</h2>
    <p class="bold">Your ATM/Debit Card Application has been received.</p>
    <p>Applications are retrieved and processed between 9:00am - 4:00pm (Eastern Time), Monday through Friday. A member service representative will be in touch with you. You may email us or call us at 770-441-9235 to inquire about the status of your application. </p>