<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Merchant Processing Services</h2>
   <p>Have you reviewed your debit and credit card processing expenses lately? </p>
   <p>We may be able to reduce the processing fees you pay each month through our   partnership with First Data Corporation, a leader in the electronic processor world.</p>
   <p>First Data offers aggressive rates along with the technology to make payment   processing transactions faster, more efficient, and secure.</p>
   <p><%= link_to "Contact us", contact_path %> and speak with one of our associates in the business services department for a quote. We'll need a copy of your most recent merchant processing statement to determine whether we can help you reduce your fees and pocket a little more cash. </p>
  
   </div>
  
  
  </div>
 </div>