<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Business Savings Accounts</h2>
   <p>Competitive rates and local service make managing your business accounts with EXCEL an added benefit for your company.</p>
   <p>To open your Business Accounts with EXCEL, a $5.00 membership fee and an initial deposit of $100.00 into a Business Savings Account is required. </p>
   <p>Dividends on Savings Accounts are compounded and paid quarterly. Dividends are declared at the end of each quarter and are automatically deposited back into your savings account, or can be directed to another EXCEL account of your choosing</p>
   <p>Due to Federal Regulations, up to six (6) preauthorized or telephone transfers, including online transfers, to your other accounts or to third parties are available each month. </p>
   <p>Withdrawals beyond three per month incur a $5.00 excess withdrawal fee. </p>
   <p>A $100 minimum daily balance, each day, is required to earn the monthly dividends. </p>
   <p>For current Business Savings Account rates, <%= link_to "click here", rates_share_path %>, or to open your Business Savings Account now, submit an <%= link_to "online application", "pdf/Signature Card Business Account.pdf" %>. </p>
    </div>
  </div>
 </div>