<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>QuickBooks&reg; Services</h2>
    <p>Excel FCU offers downloading capabilities to the #1 best selling small business   financial software, Intuit's QuickBooks®, to help you organize your business   finances and increase your company's productivity. </p>
    <p>With QuickBooks&reg; download, you can<%= link_to image_tag("intuit_qb_logo.gif", :alt=>"", :width=>264, :height=>72, :class=>"fright"), "http://quickbooks.intuit.com/searchresults/B/?priorityCode=1183006329&amp;CMP=KNC-Core_Brand&amp;HBX_PK=quickbooks&amp;HBX_OU=51&amp;SiteID=2245579", :rel=>"confirm external" %></p>
    <ul>
    <li>Enter, track &amp; pay bills</li>
    <li>Record &amp; categorize expenses <br />
    </li>
    <li>See all customer information on a single screen <br />
    </li>
    <li>See all employee information on a single screen <br />
    </li>
   <li>Manage payroll, taxes &amp; liabilities <br />
   </li>
   <li>Manage inventory quantities <br />
   </li>
   <li>Write &amp; print checks <br />
   </li>
   <li>Download bank &amp; credit card data <br />
   </li>
   <li>Categorize your income &amp; expenses quickly <br />
   </li>
   <li>Automatically prepare for tax time with tax categories </li>
    </ul>
    
    <p>To download data from your EXCEL accounts to your QuickBooks&reg;   software, you'll need to have purchased the software and loaded it onto your   computer, as well as established an EXCEL account. When you open your EXCEL   account, you are provided with a password for accessing your accounts online.  You'll need this password to complete any QuickBooks® downloads. <br />
    </p>
    <p>To open an EXCEL business account, submit an <%= link_to "online application", "pdf/Signature Card Business Account.pdf", :rel=>"external" %>. If you have questions regarding the   download, <%= link_to "contact us", contact_path %>. <br />
    </p>
    <p>For specific software questions, QuickBooks&reg; offers FREE support for 30 days   from registration for questions submitted online. Please refer all software questions to <%= link_to "QuickBooks&reg;", "http://quickbooks.intuit.com/searchresults/B/?priorityCode=1183006329&amp;CMP=KNC-Core_Brand&amp;HBX_PK=quickbooks&amp;HBX_OU=51&amp;SiteID=2245579", :rel=>"confirm external" %>. </p>
    </div> 
  </div>
 </div>
