<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Courier Pick-Up Services</h2>
   <p>For small businesses with large volumes of paper check deposits, Excel FCU   offers the convenience of courier pick-up services for less than the standard   rates. </p>
   <p>Request a quote today to learn how much time and money your business can save   without the daily hassle of depositing checks. <%= link_to "Contact", contact_path %> our business services department for more information.</p>
   <p class="center"><%= image_tag "courier.jpg", :width=>275, :height=>115, :alt=>"Courier" %></p>
</div>
  </div>
 </div>
