<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Business Loans</h2>
    <p>Small to midsize businesses often find the need for additional cash flow at   critical times. We have several options for small businesses to ensure funds are   available when needed, along with personal, knowledgeable service and fast   turn-around times.
    </p>
    <p>Our business loan programs include:</p>
    <ul>
    <li>Unsecured short-term business loans</li>
    <li>VISA&reg; Business Credit Cards</li>
    <li>Business line of credit loans</li>
    <li>Overdraft protection options with EXCEL business checking accounts (links to line-of-credit business 
   loan and/or Excel business savings account)</li>
   <li>Competitive fixed-rate and term loans for major purchases, such as automobiles &amp; equipment</li>
    </ul>
    <p>Other Business Loans Available:</p>
    <p>If you need a Commercial Real Estate or Mortgage Loan from $300,000 to $10 Million or have one coming up for renewal, contact our subsidiary , Credit Union Business Services, LLC (CUBS) at 770-416-2166 or visit their web site at <%= link_to "www.cubsllc.org", "http://www.cubsllc.org", :rel=>"confirm external" %>. </p>
    <p>For more information about credit union business and VISA&reg; credit card loans below $300,000 speak with an EXCEL loan officer by calling 770-441-9235 and selecting option &quot;5&quot; for our credit union business services team.</p>
    <p class="redtext2 center">Through our partnerships with credit unions, <br />
we have money to lend to our member business owners.</p>

</div>
  
  
  </div>
 </div>
