<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Outsourcing Business Services</h2>
   <p>Are you looking for a more effective way to manage the work required to run a   successful business? </p>
   <p>Provided below are links to several companies that specialize in assisting   businesses in the areas of accounting, tax filing and compliance; payroll   processing; insurance and benefits administration. </p>
   <p>In most cases, you will be able to customize the services offered to suit your   needs.</p>
   <p>These organizations are able to "bundle" small to midsize businesses together in   order to take advantage of volume discounts and contribute to controlling costs.</p>
   <p>Their common goals include reducing administrative time and expense and sharing their professional knowledge with their clients – which in turn allows their clients to do what they do best – concentrate on their business! </p>
   <p>The links below are provided as a resource for our small business members. Choose the company that best suits your specific needs.</p>
   <div class="center">
   <table id="buspay">
  <tr>
    <td><%= link_to "Accounting Partners, Inc.", "http://www.acctpartners.com/", :rel=>"confirm external" %></td>
    <td><%= link_to "ADP", "http://www.smallbusiness.adp.com/", :rel=>"confirm external" %></td>
    <td><%= link_to "Corporate Business Solutions", "http://www.cbshro.com/", :rel=>"confirm external" %></td>
  </tr>
</table>
</div>

<p class="center">Southern Staffing Benefits Corporation<br />
Website coming soon!<br />
770-446-8882</p>
<p class="disclaimer">Inclusion of these links does not imply endorsement of the site or the entity it represents by EXCEL Federal Credit Union and is provided simply as a convenience. </p>
   </div>
  </div>
 </div>
