<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Car Buying Service</h2>
<p>Too busy to shop for your next car? Let our car-buying professionals from Car Solutions do all the work for you! Car Solutions is designed to assist our members in the purchase of new and pre-owned vehicles, saving you time and money locating the car of your dreams. Best of all, Car Solutions will eliminate the hassles and headaches of negotiating the best price possible!</p>
<p>Don't forget to have your loan pre-approved before you start car shopping. Complete an <%= link_to "online loan application", new_loanapp_path %> and we'll have your car loan approved by the next business day. Or call 770-441-9235 before 3:30pm each business day for pre-approval within minutes!</p>

<p class="center"><%= link_to image_tag("logo_carsolutions.gif", :width=>130, :height=>47, :alt=>"Car Solutions"), "http://www.carsolutions.com/", :rel=>"confirm external" %></p>
<p class="center"><%= image_tag "auto.jpg", :width=>324, :height=>216, :alt=>"Auto" %></p>
    </div>
  </div>
 </div>
