<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Overdraft Protection &amp; EXCEL Courtesy Pay (ECP)</h2>
    <h2><span class="bluetext"><em>Protect Your Credit Score!</em></span></h2>
    <p>It's possible to design your   checking account with an added measure of protection against overdrafts.</p>
    <p>Overdraft Protection and the EXCEL Courtesy Pay (ECP) service provide many benefits when an inadvertent overdraft occurs:</p>
    <blockquote>
    <ul>
    	<li class="bold">Protection from the embarrassment of returned checks</li>
        <li class="bold">Protection from merchant returned check charges</li>
        <li class="bold">Protection from collection agency fees</li>
        <li class="bold">Protects your good credit rating</li>
    </ul>
    </blockquote>
    
    <p>By establishing overdraft protection, you can authorize us to link your checking account to a pre-approved line-of-credit loan and/or to your savings account. When all the funds in your checking account have been used and you have established overdraft protection, we will look to these other accounts for additional funds.</p>
    
    <p>In the event you have not established overdraft protection, or you've already depleted the funds available to you in these accounts, then EXCEL offers an additional discretionary overdraft service for those who qualify called EXCEL Courtesy Pay (ECP). No applications or additional signatures are required for ECP. </p>
    
    <p>ECP is generally limited to an overdraft courtesy limit between $300 and $700 (including fees) dependent on your monthly deposits. There are fees associated when accessing these funds and the funds must be repaid within 30 days. Please see our <%= link_to "disclosures", "pdf/disclosures.pdf", :rel=>"external" %> for more information about EXCEL Courtesy Pay. </p>
    
    <p>If you're interested in establishing overdraft protection, speak with a Member Service Representative at 770-441-9235.</p>
    
    <p class="center"><%= image_tag "equal_housecomp.gif", :alt=>"", :width=>153, :height=>94 %></p>
  	</div>
  </div>
 </div>
