<div id="contactus" class="clearfix">
			<h2>Contact Us</h2>
			<p class="center">
				<strong>Atlanta Area: (770) 441-9235</strong>
				<br />
				<strong>Outside Atlanta: 1-888-441-9235</strong>
			</p>
			<p class="center">
				<strong><%= mail_to "info@excelfcu.org", "Send Us An Email - info@excelfcu.org", :subject=>"Contact from Website", :onclick=>"javascript: return confirm('Please be advised that by sending us an email via this link that your email may not be secure. Do not submit any confidential information through this link (for example your social security, credit card or account number). If you have specific account inquiries that require you to send us confidential information, please use our secure email by logging onto NetBranch Online Banking using your account number and password, or call the credit union at 770-441-9235 or 1-888-441-9235 for further assistance. Thank you.')" %></strong>
			</p>
			<div class="split50">
				<h3>Lost/Stolen Cards</h3>
				<p>
					Lost/Stolen Visa&reg; Credit Card 1-800-237-6211<br />
					Lost/Stolen MasterCard &reg; Debit Card 1-800-500-1044
				</p>
				<h3>Main Office</h3>
				<p>
					5070 Peachtree Industrial Blvd.<br />
					Norcross, Georgia 30071<br />
					Hours of Operation: Monday - Friday 9am-4pm<br />
					Services: Full service location<br />
					<span class="bluetext">Fax: 770-582-3877</span><br />
					<strong>Drive-thru Windows</strong><br />
					<strong>Drive-thru ATM</strong>
				</p>
				<h3>Atlanta Federal Center</h3>
				<p>
					61 Forsyth St.<br />
					Suite 8B-71<br />
					Atlanta, Georgia 30303<br />
					Hours of Operation: Monday - Friday 9am-4pm<br />
					Services: Full service location<br />
					<span class="bluetext">Fax: 404-524-3556</span><br />
					<strong>Walk-up ATM</strong>
				</p>
				<h3>Midtown</h3>
				<p>
					1718 Peachtree St., NW<br />
					Atlanta, Georgia 30309 Suite 153<br />
					Hours of Operation: Monday - Friday 9am-4pm<br />
					Services: Full service location<br />
					<span class="bluetext">Fax: 404-881-9806</span>
				</p>
				<h3>The Summit Building</h3>
				<p>
					401 W. Peachtree St.<br />
					Suite 250<br />
					Atlanta, Georgia 30308<br />
					Hours of Operation: Monday - Friday 9am-4pm<br />
					Services: Full service location<br />
					<span class="bluetext">Fax: 404-525-7461</span>
				</p>
			</div>
			<div class="split50">
				<h3>MoneyLine 24-Hour Automated Phone System</h3>
				<p>
					<strong>Atlanta Area:</strong> 770-441-9235<br />
					<strong>Outside Atlanta:</strong> 1-888-441-9235<br />
					(Select Option &quot;<strong>1</strong>&quot;)
				</p>
				<h3>Visa&reg; Credit Cards</h3>
				<p>
					Card Member Services: 1-800-237-6211<br />
					Lost/Stolen: 1-800-237-6211<br />
					Written Inquiries:
				</p>
				<blockquote>
					<p>
						VISA&reg; Customer Service<br />
						P.O. Box 30495<br />
						Tampa FL 33630
					</p>
				</blockquote>
				<p>
					Payments:<br />
					Nearest EXCEL Location or
				</p>
				<blockquote>
					<p>
						P.O. Box 31232<br />
						Tampa FL 33631-3232
					</p>
				</blockquote>
				<h3>MasterCard&reg; Debit Cards</h3>
				<p>
					Lost/Stolen: 1-800-500-1044
				</p>
				<h3>ATM Cards</h3>
				<p>
					Lost/Stolen: 1-800-500-1044
				</p>
				<h3>ScoreCard Rewards&reg;</h3>
				<p>
					Travel: 1-800-842-3006<br />
					Merchandise: 1-800-854-0790
				</p>
			</div>
		</div>