<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Establishing Direct Deposit</h2>
<p>Complete the <%= link_to "Direct Deposit Form", "pdf/ddchange.pdf" %> and submit it to your employer or depositing institution to instruct them to direct your funds to your EXCEL accounts. Your employer and/or depositing institution will need our routing number (261071548) as well as your EXCEL Federal Credit Union account number in order to direct your funds to the correct financial institution and account.</p>
<p>To sign up to receive direct deposit of Federal Benefits Payments, click on <%= link_to "http://www.godirect.gov", "https://www.godirect.gov/gpw/index.gd", :rel=>"confirm external" %>.</p>
<p>Most employers will make deposits to several different financial institutions on your behalf (check with your employer/depositing institution to verify the number of deposits they will make to different financial institutions). </p>
<p>We have included the EXCEL routing number <span class="redtext2">(261071548)</span> in the direct deposit form.</p>
<p>Please print the <%= link_to "Direct Deposit Form", "pdf/ddchange.pdf" %>, insert your EXCEL member number, and submit it to your employer or depositing institution. </p>
<p>If you have misplaced your account number, or if you are not already a member, please contact member services at 770-441-9235 or 1-888-441-9235 (select option "7"). </p>
<p>We can establish most new accounts within minutes over the phone, once a completed <%= link_to "Membership Application", new_membershipagree_path %> and supporting documents have been faxed to us at 770-582-3877. </p>
</div>
  </div>
 </div>
