<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Disclosures</h2>
<p class="center"><%= link_to "Membership Agreement", "pdf/EXCEL_membership_agreement.pdf", :rel=>"external" %></p>
<p class="center"><%= link_to "Disclosures for Personal Accounts (effective 01/01/2010)", "pdf/disclosure_pers10.pdf", :rel=>"external" %></p>
<p class="center"><%= link_to "Disclosures for Business Accounts", "pdf/Business Disclosure Terms and Conditions REV May 2010.pdf", :rel=>"external" %></p>
<p class="center"><%= link_to "Electronic Disclosure", "pdf/elecservicedisc.pdf", :rel=>"external" %></p>
	</div>
  </div>
 </div>