<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Enterprise&reg; Car Sales</h2>
<p>With EXCEL and Enterprise, you can combine the best rate on your loan with the best price on a used car and save money all-around.</p>
<p>Be sure to talk with an EXCEL loan officer before you start car shopping to determine the loan rate you qualify for and how much you have to spend!</p>
<p>We can handle most loans over the phone by calling 770-441-9235 or 1-888-441-9235.<br />
Or, submit an <%= link_to "online application", new_loanapp_path %> and we'll respond to your request no later than the next business day. </p>

<div class="bold large" style="left: 200px; position: relative;">
Borrow Smart<br />
<span class="indent">Buy Smart</span>
</div>

<div class="center">
<span class="disclaimer">Click on the banner &amp; search for cars!</span><br />
<%= link_to image_tag("enterprise_180x150.jpg", :alt=>""), "http://www.cuautodeals.com", :rel=>"confirm external" %>
</div>

<p>Enterprise&reg; offers:</p>
	<ul>
    	<li class="underline">The Perfect Used Car Package. &reg;</li>
        <li>No-Haggle Pricing</li>
        <li>109-Point, ASE-Certified Inspection  </li>
        <li>7-Day Repurchase Agreement</li>
        <li>12/12 Limited Powertrain Warranty</li>
        <li>12-Month Roadside Assistance</li>
    </ul>
    
    <p class="italic center">Plus, Free CARFAX&reg; Reports Are Provided<br />&amp;<br />Trade-Ins Are Welcome!</p>
    
    <p class="italic fright">Contact EXCEL now to get your loan <br />preapproved by the next business day!<br />770-441-9235 or 1-888-441-9235<br />
		<%= link_to "Online Application", new_loanapp_path %></p>
	</div>
  </div>
 </div>
