<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Guaranteed Auto Protection</h2>
<p class="center bold"><span class="underline">YOUR AUTO INSURANCE DOES NOT COVER EVERYTHING</span></p>
<p>In the event your vehicle is deemed a total loss due to an accident or theft, your auto insurance policy will usually cover only the actual cash value or market value of your vehicle less a deductible. This settlement could be significantly less than the amount you owe to your lender or leasing company. The final result is a financial GAP where you must make up the difference, which could mean thousands of dollars out of your pocket.</p>
<p class="center bold"><span class="underline">PROTECTION THROUGH GUARANTEED AUTO PROTECTION</span></p>
<p>Guaranteed Auto Protection protects individuals who finance a new or used vehicle from the financial GAP. </p>
<p>In the current market, during the first few years that you own your vehicle and as a result of depreciation, your loan/lease balance can be higher than the actual value of your vehicle. As your vehicle's value declines, your loan/lease balance may decline more slowly, resulting in a financial gap. If your vehicle were stolen or totaled in an accident, you would be liable to pay the difference between your insurance settlement and your outstanding loan/lease balance.</p>
<p>Guaranteed Auto Protection covers the difference between the actual cash value of your vehicle and the loan/lease balance, less delinquent payments, late charges, refundable service warranty contracts and other insurance-related charges. </p>
<p>Guaranteed Auto Protection will also cover your auto insurance deductible up to $500 or $1,000. The actual amount depends on the program limits. Contact a loan officer at 770-441-9235 for details. </p>
<p>Guaranteed Auto Protection is administered by a third party provider. Please see our <%= link_to "privacy policy", "pdf/Privacy Policy Oct 2010.pdf" %> for additional information on services offered by third parties. </p>
</div>
  </div>
 </div>
