<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Holiday Schedule</h2>
    <p class="center">We will be closed on the following dates in observance of the indicated holiday:</p>
<table width="100%" >
                        	<tr>
							<td class="underline bold">Holiday</td>
                            <td class="underline bold">2010</td>
                            </tr>
	                        <tr>
	                          <td align="left" valign="top">Martin Luther King, Jr. Day <br />
                              Presidents Day<br />
                              Memorial Day<br />
                              Independence Day Holiday <br />
                              Labor Day <br />
                              Columbus Day <br />
                              Veteran's Day <br />
                              Thanksgiving Holidays <br />
                              Christmas Holiday<br />
                              New Year's Holiday<br />                              
	                          </td>
	                          <td align="left" valign="top">Monday, January 18th<br />
                              Monday, February 15th<br />
                              Monday, May 31st<br />
                              Monday, July 5th<br />
                              Monday, September 6th<br />
                              Monday, October 11th<br />
                              Thursday, November 11th<br />
                              Thursday &amp; Friday, November 25th &amp; 26th<br />
                              Friday, December 24th <br />
	                          Friday, December 31</td>
                          
	                        </tr>
                    </table>
  	</div>
  </div>
 </div>