<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Identity Theft Assistance</h2>
<p>Identity theft is America's fastest growing crime and the number one consumer   complaint seven years in a row. That's why EXCEL Federal Credit Union has   partnered with Identity Theft 911&reg;, the nation's leader in identity management   and fraud education. If you're currently an EXCEL member with an EXCEL checking   account, we'll provide you with FREE <strong>Identity Theft Resolution Services</strong>. </p>

<p>For more information about our checking account and to establish an EXCEL checking account, <%= link_to "click here", checking_accts_path %>.</p>

<p><strong>Expert help is only a phone call away.</strong><br />If you suspect your identity has been compromised, call EXCEL Federal Credit Union at 770-441-9235 or 1-888-441-9235 to be referred to a fraud specialist from Identity Theft 911&reg;. </p>

<p><strong>Continued awareness is key</strong><br />Identity theft can happen to anyone. That's why we give you free access to up-to-the-minute news alerts, in-depth articles, newsletters, and a wealth of preventative guidelines at <%= link_to "www.identitytheft911.org", "http://identitytheft911.org", :rel=>"confirm external" %>. Don't be an easy target! </p>

<p><strong>Identity Theft Resolution Services</strong> provides unlimited one-on-one access to a highly experienced fraud specialist from Identity Theft 911&reg; whenever you have a concern about the safety of your personal information. Whether you have a serious identity theft crisis or need to take preventative measures regarding a lost or stolen wallet, you won't have to struggle on your own. Your personal advocate will guide you through the complicated resolution process from start to finish, and will even follow-up months after resolution is complete. </p>
<p>Identity theft victims receive the following:</p>
<ul>
<li>Assistance with any proactive inquiry </li>
<li>Systematic notification to credit bureaus, creditors and collectors, government agencies, and others </li>
<li>All document preparation (including the FTC Fraud Victim Affidavit) and phone calls needed to resolve the identity theft </li>
<li>Case-file creation to help law enforcement </li>
<li>A combined credit report from all three major credit bureaus </li>
<li>One year of credit and fraud monitoring </li>
<li>Up to one year of active follow-up </li>
<li>Ongoing up-to-the-minute alerts and a wealth of educational resources at <%= link_to "www.identitytheft911.org", "http://identitytheft911.org", :rel=>"confirm external" %></li>
</ul>

<p class="center"><%= link_to image_tag("idtheft.jpg", :alt=>"", :width=>511, :height=>59), "http://identitytheft911.org", :rel=>"confirm external" %></p>
   
    </div>
  </div>
 </div>
