<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Federally Insured by NCUA</h2>
	<p>Your savings are federally insured to at least $250,000. This includes all account types, such as regular savings, checking, money market, and term savings certificates. Individual Retirement Accounts are covered separately, from other types of accounts, up to an additional $250,000. </p>
    <p>In the event you have more than these amounts in your EXCEL accounts, you may be able to structure your accounts differently in order to increase your coverage. For information on how to maximize your funds insurance coverage, <%= link_to "click here", "http://www.ncua.gov/Resources/ShareInsuranceToolKit.aspx", :rel=>"confirm external" %>. </p>
    <p>For more information about the NCUA, click on the logo link below. </p>
    <p class="center"><%= link_to image_tag("ncua261.gif", :alt=>"", :width=>354, :height=>163), "http://www.ncua.gov/", :rel=>"confirm external" %></p>
  	</div>
  </div>
 </div>