<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Auto Loans</h2>
    <p>Establish financing for your next vehicle before you start car shopping.</p>
    <p>It's easy to get pre-approved with EXCEL Federal Credit Union. Submit an online <%= link_to "Loan Application", new_loanapp_path %> and we can approve your auto loan by the next business day.  Or call 770-441-9235 before 3:30pm each business day for pre-approval within minutes!  You'll have the power to negotiate the best price on the car without worrying about financing the loan.</p>
    <p>100% fixed rate financing available for new vehicles with terms up to 75 months.</p>
    <p>100% book value rate financing on used vehicles with terms up to 60 months depending on model year of vehicle. </p>
    <p>Already found the car of your dreams and need to get your loan approved fast? Check out our loan <%= link_to "rates", rates_loan_consumer_path %> and submit an <%= link_to "application", new_loanapp_path %> online or call 770-441-9235.</p>
    <p>Need help estimating your payments? Use the auto loan <%= link_to "calculator", calculators_path %>.</p>
	<object type="application/x-shockwave-flash" data="al_ad1_326x188.swf" width="326" height="188" id="single1">
                        <param name="movie" value="al_ad1_326x188.swf" />
                        <param name="allowScriptAcess" value="sameDomain" />
                        <param name="quality" value="best" />
                        <param name="bgcolor" value="#ffffff" />
                        <param name="scale" value="noScale" />
                        <param name="wmode" value="opaque" />
                        <param name="salign" value="TL" />
                        <param name="FlashVars" value="file=commercial2.flv&amp;image=images/preview.jpg&amp;lightcolor=660000&amp;screencolor=ffffff&amp;controlbar=bottom&amp;autostart=false&amp;mute=false&amp;quality=false&amp;stretching=fill" />
                    </object>
	</div>  
  </div>
 </div>