<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Student Loans</h2>
    <p>Please contact member services to discuss loans that may provide assistance in financing higher education or complete an <%= link_to "online loan application", new_loanapp_path %>. </p>
    <p class="center bluetext bold">770-441-9235&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1-888-441-9235</p>

    </div>
  </div>
 </div>
