<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Second Mortgage Loans</h2>
    <p>Need money for a home remodel, unexpected medical bills or a child going to college?</p>
	<p>Consider a second mortgage with EXCEL Federal Credit Union.</p>
    <p>You can also protect yourself from rising rates by converting existing variable rate loans and/or high interest loans from other financial institutions to a fixed rate 2nd Mortgage with EXCEL.</p>
    <p class="center">Call 770-441-9235 or <%= link_to "APPLY ONLINE NOW!", new_secmoragree_path %></p>    
    <p class="center"><%= image_tag "second_mortgage.jpg", :alt=>"", :width=>275, :height=>115 %></p>
    <p class="center"><%= image_tag "equal_housecomp.gif", :alt=>"", :width=>153, :height=>94 %></p>
    </div>
  </div>
 </div>
