<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Save As You Pay Loans</h2>
		<p>If you have retail store credit cards and loans from other financial institutions, we may be able to help lower your monthly payments, have a positive impact on your credit score, and help you build a nice little nest egg, with the new <span class="italic bluetext bold">SAVE AS YOU PAY LOAN!</span> </p>
        
        <ul>
        	<li>Offers loan rates as low as 8.25% APR</li>
            <li>Offers a savings account with a 1% rate in connection with this loan </li>
            <li>May have a positive impact on your credit score</li>
            <li>Provides you with a nice little nest egg when you payoff the loan</li>
        </ul>
        <%= image_tag "Golden-Egg.jpg", :alt=>"", :class=>"fright" %>
        <p class="italic bold">HERE'S HOW IT WORKS:</p>
        <ul>
        	<li>Qualify with a beacon score of 620 or above</li>
            <li>Payoff high-rate, revolving credit cards &amp; other types of loans from other financial institutions with one low, fixed-rate installment loan from EXCEL</li>
            <li>We’ll direct a portion of your monthly loan payment to an above-average rate savings account that’s established in connection with this loan</li>
            <li>When the EXCEL loan is paid-off in accordance with the loan agreement, you’ll have an amount equal to 20% of the original EXCEL loan amount, plus the accrued interest, in your SAVE AS YOU PAY SAVINGS ACCOUNT!</li>

        </ul>
        
        <p>This loan may not benefit everyone and is offered under certain conditions. Submit an <%= link_to "online application", new_loanapp_path %> now or contact member services at 770-441-9235 to see if you qualify.</p>

    </div>
  </div>
 </div>