<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Signature Loans</h2>
    <p>Signature loans can be used for unexpected expenses and emergencies, to   consolidate debt, for vacations, a computer purchase or various other needs. A   signature loan is secured by signature only and not by collateral.</p>
<p>Review our <%= link_to "loan rates", rates_loan_consumer_path %> page to determine current rates for signature loans.</p>
<p>Apply now with our <%= link_to "online application", new_loanapp_path %>. </p>
<p class="center"><%= image_tag "signature.jpg", :alt=>"", :width=>275, :height=>115 %></p>
    </div>
  </div>
 </div>
