<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Security for Online Purchases</h2>
<p>Visa&reg; and MasterCard&reg; provide an additional layer of protection against fraudulent online purchases through the Verified by Visa&reg; and MasterCard&reg; SecureCode registration process. </p>
<p>Use the links below to register your card(s) and set up your personal password. </p>
<p>After registering your cards, online purchases will require the password you've established before authorizing any online purchases.</p>
<p>Click on the links below for more information or to register your card. </p>
<table width="50%" border="0" id="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><%= image_tag "logo_verified.gif", :alt=>"", :width=>115, :height=>70 %></td>
    <td><%= link_to "Credit Card Registration", "https://usa.visa.com/personal/security/vbv/index.html?it=searchQuicklink", :rel=>"confirm external" %></td>
  </tr>
  <tr>
    <td><%= image_tag "logo_mastercard.gif", :alt=>"", :width=>115, :height=>50 %></td>
    <td><%= link_to "Debit Card Registration", "https://secure4.arcot.com/vpas/ICPT0567_mc/enroll/index.jsp?locale=en_US&amp;bankid=3251", :rel=>"confirm external" %></td>
  </tr>
</table>
</div>
  </div>
 </div>
