<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Share Secured Loans</h2>
    <p>With an EXCEL share secured loan, your deposit in a EXCEL share savings account or savings certificate serves as collateral to secure your loan. Share secured loans carry our most attractive interest rates, and you'll even continue to earn dividends on your savings! </p>
<p>Please <%= link_to "contact us", contact_path %> for more information or <%= link_to "click here", new_loanapp_path %> for a loan application. <%= link_to "Click here", rates_loan_consumer_path %> for rates and terms on EXCEL share secured loans. </p>
    </div>
  </div>
 </div>
