<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Home Equity Line of Credit</h2>
    <p>Turn home ownership into a more rewarding experience with a home equity line of   credit from EXCEL. Capitalize on the value you've built in your property with   cash for home improvements, educational expenses, or whatever purpose suits you.   A home equity line of credit from EXCEL carries a competitive interest rate   that's tied to the Prime interest rate as published in <%= link_to "The Wall Street Journal", "http://online.wsj.com/home-page", :rel=>"confirm external" %>.</p>
    <p>Home Equity loans are offered on owner occupied, single family homes, townhomes and condominiums located in Georgia, Florida, North Carolina and Tennessee. </p>
    <p><%= link_to "Click here", rates_loan_consumer_path %> for rates and terms on EXCEL home equity lines of credit.</p>
    <p>Submit a <%= link_to "loan application", new_helocagree_path %> online or call 770-441-9235 for more information. </p>
    
    <p class="center"><%= image_tag "equal_housecomp.gif", :alt=>"", :width=>153, :height=>94 %></p>
    </div>
  </div>
 </div>