<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Lost/Stolen Cards</h2>
    <p class="center">To report a lost or stolen card please call the appropiate number listed below   as soon as possible:</p>
    
<table id="center" width="80%">
  <tr>
    <td class="middle"><span class="bold">ATM Card or <br />
      MasterCard&reg; Debit Card
    </span>
      <p class="bold" style="font-size: 16px; letter-spacing: 1px;">1-800-500-1044</p>
    <p class="middle"><%= image_tag "logo_mastercard.gif", :alt=>"", :width=>115, :height=>50, :class=>"middle" %></p>
    </td>
    <td class="middle"><span class="bold"><br />
      VISA&reg; Credit Card </span>
      <p class="bold" style="font-size: 16px; letter-spacing: 1px;">1-800-237-6211</p>
    <p class="middle"><%= image_tag "logo_verified.gif", :alt=>"", :width=>115, :height=>70, :class=>"middle" %></p>
    </td>
  </tr>
</table>
</div>
  </div>
 </div>
