<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Mechanical Breakdown Insurance</h2>
<p>Are you tired of high-cost Vehicle Extended Warranties from dealers and manufacturers? Check with us regarding an Automotive Premium Value Protection Plan through Mercury Select Management Company. The plans available through Mercury provide similar coverage to the dealer's/manufacturer's plan, but can cost significantly less &mdash; in some instances hundreds of dollars on an extended warranty.</p>
<p>With an Automotive Premium Value Protection Plan from Mercury, you're assured of:</p>
<ul>
<li>Nationwide Protection</li>
<li>24&ndash;Hour Roadside Assistance and a toll&ndash;free number for fast, courteous service ( 1-800-654-8455).</li>
<li>Rental Vehicle Assistance</li>
<li>One Deductible per visit</li>
<li>Direct Payment to Repair Facility</li>
<li>Increased resale value</li>
</ul>

<p>Protect your vehicle with one of four MBI plans (Bronze, Silver, Gold and Platinum). </p>
<p>The Bronze Protection Plan is designed to provide solid protection at a reasonable cost. It's for the buyer who just needs coverage on the vehicle's most important and expensive mechanical components &mdash; the engine, transmission and drive axle.</p>
<p>The Silver Protection Plan covers the mechanical components listed above, as well as the suspension, steering, brakes, electrical, fuel and air conditioning systems. </p>
<p>The more comprehensive Gold Protection Plan covers a broader spectrum of your vehicle's major systems at an economical price.</p>
<p>The Platinum Protection Plan extends coverage to virtually all mechanical and electrical components of your vehicle unless the part is specifically listed as "not covered." Examples of parts and services not covered are:</p>
<div class="indent">Adjustments and cleaning, battery and cables, drive belts, coolant and vacuum hoses, brakes (brake drums, shoes, linings, disc rotors and pads), exhaust systems (including catalytic converter), filters, fluids (except in conjunction with a covered repair), glass, lights (bulbs, sealed beams and lenses), lubricants, manual clutch components, shock absorbers or MacPherson struts, spark plugs and wires, squeaks and rattles, tune-ups, wheels, wheel studs, door and window handles, cellular phones, video entertainment equipment, any component or equipment not installed by the vehicle manufacturer and maintenance services recommended by your vehicle manufacturer.
</div>
<p>* This page highlights the benefits of the Automotive Premium Value Protection Plan. Please refer to the service contract for coverages, exclusions, terms and conditions. Vehicle warranty plans are the products of Mercury Select Management Company Inc. EXCEL Federal Credit Union does not administer any portion of the warranty plan.</p>
<p>Mechanical Breakdown Protection is administered by a third party provider. Please see our <%= link_to "privacy policy", "pdf/Privacy Policy Oct 2010.pdf" %> for additional information on services offered by third parties. To learn more about MBP plans <%= link_to "contact us", contact_path %>. </p>
</div>
  </div>
 </div>
