<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>MoneyLine/24 Hour Telephone Response System </h2>
    <h4 class="center large">Atlanta Area: (770) 441-9235<br />
    Outside Atlanta: (888) 441-9235</h4>
    <p><%= image_tag "phone.jpg", :alt=>"Phone", :width=>175, :height=>262, :class=>"fright image" %>MoneyLine, our 24-hour telephone response system, allows you to access your EXCEL Federal Credit Union accounts at anytime and from anywhere! It's easy to use and regardless of the number of inquiries, MoneyLine has NO fees.</p>    
    <p>MoneyLine allows you to:</p>

    <ul>
    	<li>Check share account, share certificate and loan balances </li>
        <li>Request a withdrawal by check</li>
        <li>Inquire about recent deposits, withdrawals and transactions</li>
        <li>Confirm cleared checks</li>
        <li>Make EXCEL loan payment transfers</li>
        <li>Determine dividends earned </li>
    </ul>
    
    <p>Simply dial the phone number listed above and follow the voice prompts. Be sure to have your account number and password ready. Don't have a password? Contact member services or submit an online <%= link_to "Password Request", new_pinrequest_path %>. </p>
    </div>
  </div>
 </div>