<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>You Name It!<br />
      Savings Account
    </h2>
    <p>Members have asked for an account that will assist them in   saving for a special item or event in their lives, such as a down payment on a   home, a new computer, or a destination vacation.  Let us know what you're saving for   and we'll label your &quot;You Name It&quot; Savings Account according to your wishes. For example, you can establish a Wedding Savings Account, &quot;Little Johnny's&quot; College   Savings Account, a Vacation Savings Account or even a &quot;Just In Case&quot; Savings Account.</p>
    <p>Advantages of the &quot;You Name It&quot; savings   account are: </p>
    <ul>

        <li>No set term </li>
        <li>Ongoing deposits accepted </li>
        <li>Dividends earned and compounded quarterly </li>
        <li>One FREE withdrawal per quarter*</li>
        <li>Dividends earned are not subject to forfeiture</li>
    </ul>

<p>There is a minimum deposit of $5 required to open this account. You must maintain a minimum daily balance of $5 in your account each day to obtain the disclosed annual percentage yield.</p>
<p>With automated deposits to your &quot;You Name It&quot; Savings Account, you'll reach your   goals before you know it! </p>
<p>Establish your &quot;You Name It&quot; Savings Account using our online <%= link_to "savings account application", new_shareapp_path %> and start saving today.</p>
<p class="disclaimer">* One FREE withdrawal per quarter, withdrawals beyond one per quarter incur a $5 withdrawal fee. </p>
  	</div>
  </div>
 </div>