<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Loan Rates</h2>
    <table width="100%" border="0" cellspacing="1" cellpadding="1">
                <tr>
                  <td align="middle" valign="top"><table border="1" align="center">
                      <tr>
                      <td>
                      <table border="1" width="100%" cellspacing="2" cellpadding="2" >
                      <tr>
                      <td bgcolor="#7e2a41" align="center" class="ratestable3">Specials
                      </td></tr>
                      <tr>
                      <td class="center bold"><p>New Cars Eligible for  Special 4.90% APR*</p>
                        <p>New and used cars are  eligible to receive additional 1% off loan rates <br />
                          when 
                          putting down 20% 
                          of the approved  loan amount.</p></td>
                      </tr>
                      </table>
                      
                      </td>
                      </tr>
                      <tr>
                        <td class="ratestable2">**New Auto Loans Fixed Rates (100% Financing):</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                          <tr>
                            <td class="bold">Year Model</td>
                            <td class="bold">Approximate Term</td>
                            <td class="bold">Consumer APR* </td>
                            <td class="bold">Business APR* </td>
                            </tr>
                            <tr>
                              <td class="indent"> 2008(new)-2009</td>
                              <td width="125">36-48 months</td>
                              <td width="125">5.25%</td>
                              <td width="125">6.75%</td>
                            </tr>
                            <tr>
                              <td class="indent">2008(new)-2009</td>
                              <td width="125">60 months</td>
                              <td width="125">5.50%</td>
                              <td width="125">7.00%</td>
                            </tr>
                            <tr>
                              <td class="indent">2009 (over $25,000)</td>
                              <td>72 months</td>
                              <td>6.00%</td>
                              <td>7.50%</td>
                            </tr>
                            <tr>
                              <td height="23"><p align="left">Luxury Cars 2008 &amp; 2009 (over $30,000) </p></td>
                              <td>84 months</td>
                              <td>6.25%</td>
                              <td>NA</td>
                            </tr>
                        </table>
						
                        </td>
                      </tr>
                      <tr>
                        <td class="ratestable2">**Used 
                          Auto Loans Fixed Rate (100% Financing of loan value):</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                          <tr class="bold">
                            <td>Year Model</td>
                            <td class="bold">Approximate Term</td>
                            <td class="bold">Consumer APR* </td>
                            <td class="bold">Business APR* </td>
                            </tr>
                            <tr>
                              <td class="indent">2007 - 2008 </td>
                              <td width="125">up to 60  months</td>
                              <td width="125">5.65%</td>
                              <td width="125">7.25%</td>
                          </tr>
                            <tr>
                              <td class="indent">2005 - 2006 </td>
                              <td width="125">up to 48 months </td>
                              <td width="125">5.75%</td>
                              <td width="125">7.50%</td>
                            </tr>
                            <tr>
                              <td height="23" class="indent">2003 - 2004 </td>
                              <td>up to 42 months </td>
                              <td>6.00%</td>
                              <td>7.75%</td>
                            </tr>

                        </table></td>
                      </tr>
                      <tr>
                        <td class="ratestable2">Boat Loans Fixed Rate:</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                            <tr>
                              <td>New or Used - 80% of value<br />
                                  <p class="indent">- Up to 7 yrs on new boats; 10 yrs over $15,000</p>
                                  <p class="indent">- Up to 5 yrs on used boats (age &amp; condition)</p></td>
                              <td width="228" colspan="3">12.50% APR* </td>
                            </tr>
                            
                        </table></td>
                      </tr>
                      <tr>
                        <td class="ratestable2">Signature Loans (10% of annual income max.):</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                            <tr>
                              <td width="67%">$2,000 and above </td>
                              <td width="33%" colspan="2">13.00% APR*</td>
                            </tr>
                            <tr>
                              <td>Below $2,000 </td>
                              <td colspan="2">18.00% APR*</td>
                            </tr>
                           
                        </table></td>
                      </tr>
                      <tr>
                        <td class="ratestable2">REDI-Cash Personal Line of Credit:</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                            <tr>
                              <td><strong>Term</strong></td>
                              <td><strong>Consumer APR*</strong></td>
                              <td><strong>Business APR* </strong></td>
                            </tr>
                            <tr>
                              <td height="23">$500 to $5,000 or 10% of annual income &amp; interest applies only to amount used.</td>
                              <td width="125">14.90% (fixed rate) </td>
                              <td width="125">Prime +2 (variable) </td>
                            </tr>

                        </table></td>
                      </tr>
                      <tr>
                        <td class="ratestable2">Share Secured Loans:</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                            <tr>
                              <td width="468">No fee required </td>
                              <td width="228">6.00% APR*</td>
                            </tr>

                        </table></td>
                      </tr>
                      <tr>
                        <td class="ratestable2"> Certificate Loans: </td>
                      </tr>
                      <tr>
                  <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                            <tr>
                              <td colspan="2"><div align="left">Up to Certificate maturity date - no fee required </td>
                            </tr>
                            <tr>
                              <td width="467"><div align="left">Share Certificate $50,000 &amp; above </td>
                              <td width="228"><div align="left">1% above cert. rate </td>
                            </tr>
                            <tr>
                              <td><div align="left">Share Certificate below $50,000 </td>
                              <td width="228"><div align="left">2% above cert. rate </td>
                            </tr>

                        </table></td>
                      </tr>
                      <tr>
                        <td class="ratestable2"> Home Equity Loans: </td>
                      </tr>
                      <tr>
                  <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                            <tr>
                              <td width="467">A home equity backed line of credit <br />
                                Minimum loan is $5,000<br />
                                Payments 1.5% of outstanding monthly balance<br />
                                Rate is variable and subject to change.<br />
                                Home equity line-of-credit loans have a minimum rate of 3%.
 
                                                                            </td>
                                
                                
                              <td width="229"><table border="0" cellpadding="0" cellspacing="0">
                                  <tr>
                                    <td>*LTV 80% or less<br>
                                         @ PRIME<br><br></td>
                                  </tr>
                                  <tr>
                                    <td>*LTV greater than 80% and less than 90%<br>
                                         @ PRIME + 1%</td>
                                  </tr>
                                  <tr>
                                    <td><br>*LTV greater than 90%<br>
                                         @ PRIME + 2%</td>
                                  </tr>
                              </table></td>
                            </tr>

                        </table></td>
                      </tr>
                      <tr>
                        <td class="ratestable2"> 2nd Mortgage Loans: </td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                            <tr>
                              <td width="467">10 years or less, Maximum LTV 85%</td>
                              <td width="229">6.50% APR*</td>
                            </tr>
                            <tr>
                              <td>10 - 15 years, Maximum LTV 85%</td>
                              <td width="229">7.00% APR*</td>
                            </tr>

                        </table></td>
                      </tr>
                      <tr>
                        <td class="ratestable2"> 
                        1st Mortgage Loans: </td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                            <tr>
                              <td>Visit <%= link_to "www.cufs.org", "http://www.cufs.org", :rel=>"confirm external" %> for 1st Mortgage Rates.</td>
                            </tr>
                        </table></td>
                      </tr>
                    </table>
                      <table width="95%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td width="601" class="disclaimer">*APR Annual Percentage Rate. All rates quoted as Annual Percentage Rates. General loan qualifications include a minimum of one year employment, acceptable credit history and ability to repay loan. Qualifying for special rates requires high quality credit score, as determined by the credit union.  Rates and terms are subject to change without notice. Home  equity line-of-credit loans have a floor of 3%. Co-applicants are accepted on most types of loans. Most rates listed are base rates and may vary according to credit criteria.<p>**Minus 1% with 80% financing on car  loans.</p>
                            <p>
                            <%= image_tag "equal_housecomp.gif", :alt=>"", :height=>94, :width=>153, :border=>0 %>
                            </p>
                          </td>
                        </tr>
                    </table>
                  </td>
                </tr>
            </table>
    </div>
  </div>
 </div>
