<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Consumer Loan Rates</h2>
    
    <table width="100%">
    	<tr class="ratestable3">
        	<th>Specials</th>
        </tr>
        <tr>
        	<td class="center"><br /><p class="redtext2">New cars eligible for special 4.90% APR*</p>
            
            <p class="redtext2">New and used cars eligible to receive additional 1% off loan rates <br />when putting down 20% of the approved loan amount! </p>
			</td>
        </tr>
    </table>

<table width="100%" border="0" cellspacing="1" cellpadding="1" id="center">
                <tr>
                  <td valign="top"><table border="1" class="center">

                      <tr>
                        <td class="ratestable2">New Auto Loans Fixed Rates (100% Financing) *</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                          <tr>
                            <td class="bold setwidth">Year Model</td>
                            <td class="bold setwidth">Approximate Term</td>
                            <td class="bold setwidth">Consumer APR* </td>
                            <td class="bold setwidth">Daily Periodic Rate </td>
                            </tr>
                            <tr>
                              <td>2009-2010</td>
                              <td>36-48 months</td>
                              <td>5.25 to 11.25%</td>
                              <td>0.014384 to 0.030822%</td>
                            </tr>
                            <tr>
                              <td>2009-2010</td>
                              <td>60 months</td>
                              <td>5.50 to 11.50%</td>
                              <td>0.015068 to 0.031507%</td>
                            </tr>
                            <tr>
                              <td>2010 (over $25,000)</td>
                              <td>72 months</td>
                              <td>6.00 to 12.00%</td>
                              <td>0.016438 to 0.032877%</td>
                            </tr>
                        </table>
                        
                        
                        
                        </td>
                      </tr>
                      <tr>
                        <td class="ratestable2">Luxury Cars *</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                          <tr class="bold">
                            <td class="indent setwidth">Year Model</td>
                            <td class="bold setwidth">Approximate Term</td>
                            <td class="bold setwidth">Consumer APR* </td>
                            <td class="bold setwidth">Daily Periodic Rate</td>
                          </tr>
                            <tr>
                              <td class="indent">2009 &amp; 2010 (over $30,000)</td>
                              <td>84 months</td>
                              <td>6.25 to 12.25%</td>
                              <td>0.017123 to 0.033562%</td>
                          </tr>
                            

                        </table></td>
                      </tr>
                      
                      <tr>
                        <td class="ratestable2">Used 
                          Auto Loans Fixed Rate (100% Financing of loan value) *</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                          <tr class="bold">
                            <td class="indent setwidth">Year Model</td>
                            <td class="bold setwidth">Approximate Term</td>
                            <td class="bold setwidth">Consumer APR* </td>
                            <td class="bold setwidth">Daily Periodic Rate</td>
                          </tr>
                            <tr>
                              <td class="indent">2008 - 2009 </td>
                              <td>up to 60  months</td>
                              <td>5.65 to 12.65%</td>
                              <td>0.015479 to 0.034658%</td>
                          </tr>
                            <tr>
                              <td class="indent">2006 - 2007 </td>
                              <td>up to 48 months </td>
                              <td>5.75 to 12.75%</td>
                              <td>0.015753 to 0.034932%</td>
                            </tr>
                            <tr>
                              <td class="indent">2004 - 2005 </td>
                              <td>up to 42 months </td>
                              <td>6.00 to 13.00%</td>
                              <td>0.016438 to 0.035616%</td>
                            </tr>

                        </table></td>
                      </tr>
                      
                      <tr>
                        <td class="ratestable2">Save As You Pay Loan</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                             <tr>
                              <td class="setwidth">$5,000 to $25,000 </td>
                              <td class="setwidth">Up to 72 Months</td>
                              <td class="setwidth">8.25 to 12.25%</td>
                              <td class="setwidth">0.022603 to 0.033562%</td>
                            </tr>

                        </table></td>
                      </tr>
                      
                       <tr>
                        <td class="ratestable2">Signature Loans (10% of annual income max)</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >

                            <tr>
                              <td class="first">$2,000 and above</td>
                              <td class="second">13.00%</td>
                              <td>0.035616%</td>	
                              
                            </tr>
                           <tr>
                              <td>Below $2,000</td>
                              <td>18.00%</td>
                              <td>0.049315%</td>	
                              
                            </tr>

                        </table></td>
                      </tr>
                      
                                             <tr>
                        <td class="ratestable2">Share Secured Loans</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >

                            <tr>
                              <td class="first">No Fee Required</td>
                              <td class="second">6.00%</td>
                              <td>0.016438%</td>	
                              
                            </tr>
                        </table></td>
                      </tr>
                           <tr>
                        <td class="ratestable2">Redi-Cash Personal Line of Credit</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >

                            <tr>
                              <td class="first">$500, to $5,000 or 10% of annual income &amp; <br />interest applies only to amount used</td>
                              <td class="second">14.90% (fixed rate)</td>
                              <td>0.040822%</td>	
                              
                            </tr>
                       </table></td>
                      </tr>
                     <tr>
                        <td class="ratestable2">2nd Mortgage Loans (Maximum LTV 85%)</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >

                            <tr>
                              <td class="first">10 years or less</td>
                              <td class="second">6.50%</td>
                              <td>0.017808%</td>	
                              
                            </tr>
                            <tr>
                              <td>Greater than 10 years up to 15 years</td>
                              <td>7.00%</td>
                              <td>0.019178%</td>	
                              
                            </tr>
                       </table></td>
                      </tr>
                      <tr>
                        <td class="ratestable2">Boat Loans Fixed Rates New or Used *</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >

                            <tr>
                              <td align="left" class="first">
                              <ul>
                              <li>Up to 7 years on new boats</li>
                              <li>Up to 10 years on new boats over $15,000</li>
                              <li>Up to 5 years on used boats (age &amp; condition)</li></ul></td>
                              <td class="second">12.50%</td>
                              <td>0.034247%</td>	
                              
                            </tr>
                       </table></td>
                      </tr>
                      
                      <tr>
                        <td class="ratestable2">Certificate Loans Up to Certificate Maturity Date - No Fee Required</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >

                            <tr>
                              <td class="first">Share Certificate $50,000 &amp; above</td>
                              <td>1% &gt; certificate rate</td>
                              
                            </tr>
                            <tr>
                              <td class="first">Share Certificate below $50,000 </td>
                              <td>2 % &gt; certificate rate</td>
                              
                            </tr>                           
                       </table></td>
                      </tr>
<tr>
                        <td class="ratestable2">Redi-Equity Loans - Variable Rate **</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >

                            <tr>
                              <td align="left" class="first">
                              <ul>
                              <li>Home equity backed line of credit</li>
                              <li>Minimum loan is $5,000</li>
                              <li>Payments equal 1.5% of the outstanding balance</li>
                              </ul>
                              </td>
                              <td align="left">
                              <ul>
                              <li>LTV 80% or less @ Prime**</li>
                              <li>LTV greater than 80% &amp; less than 90% @ Prime + 1% **</li>
                              <li>LTV greater than 90% @ Prime + 2% **</li>
                              </ul>                              </td>
                              
                            </tr>
                                             
                       </table></td>
                      </tr>      
                    </table>
					<br />
                      <table width="95%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td><p class="bold">* Minus 1% with 80% financing on car and boat loans</p>
                          <p class="bold">** Rate is variable and subject to change based on <span class="italic">Wall Street Journal's</span> published prime rate.</p> 
                         <p class="disclaimer">General loan qualifications include a minimum of one year employment, acceptable credit history and ability to repay loan.  Qualifying for special rates requires high quality credit score, as determined by the credit union.  Rates and terms are subject to change without notice.  Co-applicants are accepted on most types of loans.  Rates vary according to credit criteria. Other restrictions may apply. Contact member services for more details.</p>
                            <p>
                            <%= image_tag "equal_housecomp.gif", :alt=>"" %>
                            </p>
                          </td>
                        </tr>
                    </table>
                  </td>
                </tr>
            </table>
    </div>
  </div>
 </div>
