<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Business Loan Rates</h2>

    <table width="100%" border="0" cellspacing="1" cellpadding="1">
                <tr>
                  <td valign="top"><table border="1" id="center" class="center">

                      <tr>
                        <td class="ratestable2">**New Auto Loans Fixed Rates (100% Financing):</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                          <tr>
                            <td class="bold">Year Model</td>
                            <td class="bold">Approximate Term</td>
                            <td class="bold">Business APR* </td>
                            <td class="bold">Daily Periodic Rate </td>
                            </tr>
                            <tr>
                              <td> 2009-2010</td>
                              <td>36-48 months</td>
                              <td>6.75%</td>
                              <td>0.018493%</td>
                            </tr>
                            <tr>
                              <td>2009-2010</td>
                              <td>60 months</td>
                              <td>7.00%</td>
                              <td>0.019178%</td>
                            </tr>
                            <tr>
                              <td>2010 (over $25,000)</td>
                              <td>72 months</td>
                              <td>7.50%</td>
                              <td>0.020548%</td>
                            </tr>
                         </table>
                        </td>
                      </tr>
                      <tr>
                        <td class="ratestable2">**Used 
                          Auto Loans Fixed Rate (100% Financing of loan value):</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                          <tr class="bold">
                            <td class="indent">Year Model</td>
                            <td class="bold">Approximate Term</td>
                            <td class="bold">Business APR* </td>
                            <td class="bold">Daily Periodic Rate</td>
                          </tr>
                            <tr>
                              <td class="indent">2008 - 2009 </td>
                              <td>up to 60  months</td>
                              <td>7.25%</td>
                              <td>0.019863%</td>
                          </tr>
                            <tr>
                              <td class="indent">2006 - 2007 </td>
                              <td>up to 48 months </td>
                              <td>7.50%</td>
                              <td>0.020548%</td>
                            </tr>
                            <tr>
                              <td class="indent">2004 - 2005 </td>
                              <td>up to 42 months </td>
                              <td>7.75%</td>
                              <td>0.021233%</td>
                            </tr>

                        </table></td>
                      </tr>
                      
                      <tr>
                        <td class="ratestable2">Visa Business Credit Card</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                        <tr class="bold">
                              <td>Credit Limit</td>
                              <td>APR*</td>
                              <td>Daily Periodic Rate</td>
                            </tr>
                            <tr>
                              <td>Up to $30,000 </td>
                              <td>12.50%</td>
                              <td>0.034247%</td>
                            </tr>

                        </table></td>
                      </tr>                      
                       <tr>
                        <td class="ratestable2">Business Line of Credit</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >

                            <tr>
                              <td>Up to $100,000 </td>
                              <td>Variable Rate Based on Prime</td>
                            </tr>
                        </table></td>
                      </tr>                      
                        <tr>
                        <td class="ratestable2">Equipment Loan</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                            <tr>
                              <td>Up to $100,000 </td>
                              <td>Variable Rate Based on Prime</td>
                              
                            </tr>
                        </table></td>
                      </tr>
                        <tr>
                        <td class="ratestable2">Commercial Real Estate</td>
                      </tr>
                      <tr>
                        <td><table border="1" width="100%" cellspacing="2" cellpadding="2" >
                            <tr>
                              <td>Up to $300,000 </td>
                              <td>Variable Rate Based on Index</td>
                              
                            </tr>
							<tr>
                              <td class="half">Over $300,000 </td>
                              <td class="half left">For Commercial Real Estate or Mortgage Loans from $300,000 to $10 Million or for a renewal or refinance, contact our subsidiary, Credit Union Business Services, LLC (CUBS) at 770-416-2166 or visit their website at <%= link_to "http://www.cubsllc.org", "http://www.cubsllc.org", :rel=>"confirm external" %> </td>
                           </tr>
                        </table></td>
                      </tr>
                    
                    </table>
                      <table width="95%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td class="bold"><p>Rates and terms are subject to change without notice.</p>
                            <p>
                            <%= image_tag "equal_housecomp.gif", :alt=>"" %>
                            </p>
                          </td>
                        </tr>
                    </table>
                  </td>
                </tr>
            </table>
    </div>
  </div>
 </div>