<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Individual Retirement Accounts</h2>
    <p>An Individual Retirement Account (IRA) is an excellent tool for retirement savings. Unlike most investments, depending on the IRA you choose, contributions may be tax-deductible and will grow either tax-deferred or tax-free.</p>
   <p>
   <span class="redtext2"><span class="underline">Traditional IRA</span></span><br />
   The annual contribution limit is $4,000 through 2007, and $5,000 in 2008 and thereafter. After 2008, the contribution limit may be adjusted annually for inflation, in $500 increments, as determined by the IRS. The annual limit applies to any combination of IRA plans other than the Coverdell Education Savings Account (ESA). Contributions are fully tax-deductible if you are not an active participant in an employer retirement plan or your income does not exceed certain limitations. Investments grow on a tax-deferred basis. Distributions must begin at age 70 ½ . Contributions and earnings are taxed only upon withdrawal. Check with your tax advisor for details.</p>
   <p>Your retirement savings are federally insured by NCUA up to $250,000. </p>
   
   <p>
   <span class="redtext2"><span class="underline">Roth IRA</span></span><br />
   As long as you have earned income, you can establish and contribute to a Roth IRA even after 70 1/2. While contributions are not tax deductible, contributions and earning can be withdrawn tax-free, with limitations, and unlike traditional IRAs, you are not required to begin taking required minimum distributions after age 70 1/2. By converting your traditional IRA to a Roth IRA, you can enjoy tax-free withdrawals. However, the amount you can convert is subject to income tax now.</p>
   <p>Your retirement savings are federally insured by NCUA up to $250,000. </p>
   
   <p><span class="redtext2"><span class="underline">Coverdell Education Savings Account</span></span><br />
   While there is no tax deduction for amounts contributed to a Coverdell Education Savings Account (ESA), earnings grow tax-free. And your ESA can be used to pay qualified elementary school and secondary school expenses as well as those for higher education.</p>
   <p>The annual contribution amount per beneficiary is $2,000.</p>
   
   <p><span class="redtext2"><span class="underline">Contribution Deadlines</span></span><br />Traditional IRA's, Roth IRA's and Coverdell Education Savings Accounts must be opened and/or funded by the April 15th deadline for each tax year to receive your tax deductions. </p>
   
   <p><%= link_to "Click here", rates_share_path %> for current rates or <%= link_to "click here", calculators_path %> for the retirement calculator.</p>
  	</div>
  </div>
 </div>
