<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Payroll Allocation</h2>
    <p>When you establish direct deposit and payroll allocation at   EXCEL, money is automatically allocated from your paycheck and deposited to one   or more of your EXCEL accounts. You can automatically disperse funds to savings,   checking and loan accounts on a regular basis. It's an easy way to save or to   ensure that you'll never miss a loan payment. </p>
    <p>Please <%= link_to "contact us", contact_path %> for more information on payroll allocation or complete the <%= link_to "Payroll Allocation", "pdf/Direct Deposit  Payroll Allocation Form.pdf", :rel=>"external" %> form to disperse your funds among multiple EXCEL accounts.</p>
    
  	</div>
   </div>
 </div>