<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Savings Certificates</h2>
    <p class="center bold">(Regular and IRA)</p>
    <p>You can open a Savings Certificate with a minimum balance of $500. Certificates   are available with terms of six to 48 months. <%= link_to "Rates", rates_share_path %> are   dependent on the certificate amount and term. Early withdrawal will reduce   earnings. </p>
    <p>Review certificate rates and terms to determine the best certificate for you and   submit an online <%= link_to "Savings Certificate   Application", new_shareapp_path %>.</p>

    <p>Features of our Savings Certificates include </p>
    <ul>
    	<li>Features of our Savings Certificates include</li>
        <li>Offers a fixed dividend rate for the term of the certificate</li>
        <li>Pays an average of 1% higher than other financial institutions</li>
    </ul>

<p>Our Savings Certificates can be used for your Individual   Retirement Account (IRA).<br />
</p>
<p>Please <%= link_to "contact us", contact_path %> if you have any   questions about Savings Certificates, or to establish a Savings Certificate   submit an online <%= link_to "application", new_shareapp_path %>.</p>
  	</div>
  </div>
 </div>