<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>ScoreCard&reg; Rewards</h2>
    <p class="center"><%= link_to image_tag("scorecardlogo.jpg", :alt=>"", :width=>141, :height=>73), "https://www.scorecardrewards.com/general_logon.asp", :rel=>"confirm external" %></p>
<p><%= image_tag "happy-woman-shopping.jpg", :alt=>"", :width=>300, :height=>215, :class=>"fright image" %></p>    
<p>Earn travel and merchandise rewards for doing what you do every day!</p>
<p>Swipe your EXCEL card and sign (forget your PIN) and you'll earn one reward point for every dollar you spend. Before you know it, you'll have enough points for a plane ticket to the destination of your dreams.</p>
<p>Both the Excel MasterCard&reg; Debit Card* and the Excel VISA&reg; Credit Card earn ScoreCard&reg; reward points redeemable for travel and merchandise. </p>
<p>Don't forget to authorize your purchases with your signature (PIN transactions do not earn rewards). </p>
<p>The unique thing about our rewards program is you can combine points from your debit and credit cards, plus family members in the same household can combine points as well!</p>
<p>Not all financial institutions offer this many ways to earn your rewards. </p>
<p>Earn your rewards faster - apply for EXCEL debit and credit cards today! </p>

<table width="75%" border="1" id="center" cellpadding="0" cellspacing="0">
  <tr>
    <td class="half center" valign="top"><%= link_to "Debit Card Application", new_atmdebitcardapp_path %><br />
      (requires an EXCEL Checking Account)</td>
    <td class="half center" valign="top"><%= link_to "Credit Card Application", new_ccdisclosure_path %></td>
  </tr>
</table>
<p>*MasterCard&reg; Business Debit Cards do not earn ScoreCard&reg; Rewards.</p>

</div>
  </div>
 </div>