<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Security Information</h2>
<p class="center">EXCEL Federal Credit Union uses the latest technology to ensure account security and privacy. </p>
<p class="bold center" style="margin-top: 30px;"><span class="redtext2 large">Browser Security/Encryption</span></p>
<p>Encryption helps protect your private information so that it cannot be intercepted and read by a third party. </p>
<p>Encryption is the scrambling of information for transmission back and forth between two points. A virtual key is required to decode the information. When you request information about your accounts, the request is sent encrypted (scrambled) to EXCEL Federal Credit Union. We then decode your request for information and send it back to you in an encrypted format. When you receive it, your information is automatically decoded so that you can read it. </p>
<p>The encryption technology used by our systems is so secure that it is classified by the U.S. Department of Defense. Export of this technology to other countries is forbidden by law. </p>
<p>You can download a <%= link_to "Netscape", "http://netscape.aol.com/", :rel=>"confirm external" %> or <%= link_to "Microsoft", "http://www.microsoft.com/windows/internet-explorer/default.aspx", :rel=>"confirm external" %> browser that provides the highest level of encryption commercially available. </p>
<p class="bold center" style="margin-top: 30px;"><span class="redtext2 large">Digital Identity</span></p>
<p>For digital identity verification, we have a digital server certificate that your browser uses each time you sign-on to verify that indeed you are connected to EXCEL. </p>
<p class="bold center" style="margin-top: 30px;"><span class="redtext2 large">A Note on "Cookies"</span></p>
<p>Our online banking system, NetBranch, utilizes cookies to hold a random session ID each time you login. This ID is verified each time you send or receive information from NetBranch. The session ID provides security for your private information by responding only to requests that are intended for you. The session cookie is not stored on your computer, and it is dismissed when you exit your browser, or are logged out after the inactivity period. Without accepting this session ID (cookie), you cannot explore your accounts with NetBranch. </p>
<p class="bold center" style="margin-top: 30px;"><span class="redtext2 large">Your Role in Account Security</span></p>
<p>While EXCEL works to protect your financial privacy, you also play a role in protecting your accounts. There are a number of steps you can take to ensure that your financial experience on the Internet is safe and secure.</p>
<ul>
	<li>First and foremost, don&rsquo;t reveal your PIN to anyone else. Your PIN is designed to protect the privacy of your account information, but it will only work if you keep it to yourself. If you think your PIN has been compromised, change it immediately online.</li>
    <li>Don't walk away from your computer if you are in the middle of a NetBranch session.</li>
    <li>When you are finished using NetBranch, always exit before visiting other Internet sites.</li>
    <li>If anyone else is likely to use your computer, clear your cache or turn off and re-initiate your browser in order to eliminate copies of web pages that have been stored in your hard drive. How you clear your cache will depend on the browser and version you have. This function is generally found in your preference menu.</li>
    <li>EXCEL strongly recommends that you use a browser with 128-bit encryption to conduct secure financial transactions over the Internet. You can download a <%= link_to "Netscape", "http://netscape.aol.com/", :rel=>"confirm external" %> or <%= link_to "Microsoft", "http://www.microsoft.com/windows/internet-explorer/default.aspx", :rel=>"confirm external" %> browser that provides the highest level of encryption commercially available.</li>
</ul>
  </div>
 </div>
 </div>
