<div id="container2">
  <div class="banner">
  	<div class="contentcenter clearfix">
		<h2>What&#39;s So Special About A Credit Union?</h2>
		<p>
			Credit Unions are not in business to make profits for stockholders.
		</p>
		<p>
			Credit unions work to assist members in their financial success while maintaining 
			the financial stability of the credit union.
		</p>
		<p>
			Credit unions are established by groups of people with a common bond, be it their
			employer, their community, their school, or simply their mission to &quot;get ahead&quot;.
		</p>
		<p>
			There are seven key differences between a credit union and a bank:
		</p>
		<p>
			<dfn>Not-for-profit.</dfn>&nbsp; Credit unions are not-for-profit financial cooperatives.&nbsp; Unlike
			other financial institutions, credit unions do not issue stock or pay dividends to outside
			stockholders. Instead, earnings are returned to members in the form of lower loan rates,
			higher dividends on deposits, and lower fees.
		</p>
		<p>
			<dfn>Ownership.</dfn>&nbsp; Each credit union member has equal ownership and one vote -- regardless
			of how much money a member has on deposit.&nbsp; At a credit union, every customer is both
			a member and an owner.
		</p>
		<p>
			<dfn>Membership Eligibility.</dfn>&nbsp; People qualify for credit union membership through
			an employer, organizational affiliations like churches or social groups, or in the case of
			community-chartered credit unions, by living within a specified community.
		</p>
		<p>
			<dfn>Financial Education for Members.</dfn>&nbsp; Credit unions assist members in becoming
			better- educated consumers of financial services.
		</p>
		<p>
			<dfn>Social Purpose: People Helping People.</dfn>&nbsp; Credit unions exist to help people,
			not to make a profit.&nbsp; Credit unions serve all members well, including those of modest
			means - every member counts!
		</p>
		<p>
			<dfn>Taxation.</dfn>&nbsp; Credit unions do pay taxes - payroll taxes, sales taxes, and 
			property taxes.&nbsp; Congress exempts credit unions from federal income taxes.&nbsp; The
			exemption was established in 1937, affirmed by statute in 1951, and re-affirmed in 1998
			in H.R. 1151, the Credit Union Membership Access Act, which states:
		</p>
		<p class="quote">
			&quot;Credit unions, unlike many other participants in the financial services market,
			are exempt from Federal and most State taxes because credit unions are member-owned,
			democratically operated, not-for- profit organizations generally managed by volunteer
			boards of directors and because they have the specified mission of meeting the credit
			and savings needs of consumers, especially persons of modest means.&quot;
		</p>
		<p>
			<dfn>Volunteer Boards.</dfn>&nbsp; Each credit union is governed by a board of directors,
			elected by and from the credit union's membership.&nbsp; Board members serve voluntarily.
		</p>
		<p class="center"><strong>Join Our Credit Union and Put Your Money to Work for You!</strong></p>
        </div>
        </div>
        </div>