<div id="container2">
  <div class="banner">
  	<div class="contentcenter">
    <h2>Wiring Funds</h2>
	<p class="bold">Wiring Funds to EXCEL Federal Credit Union</p>
    <p>Looking for the fastest and easiest way to move money into your EXCEL accounts from another financial institution?
It’s easy – simply provide the other financial institution with the following information:</p>

<p class="indent"><span class="bold">Wire My Money To:</span><br />
	EXCEL Federal Credit Union<br />
Norcross, GA<br />
EXCEL FCU Telephone Number: 770-441-9235 or 1-888-441-9235<br />
EXCEL ABA Routing Number: 261071548<br />
Credit Funds to: (Provide Your Name &amp; Account Number) </p>

<p class="bold">Wiring Funds from EXCEL Federal Credit Union</p>
<p>To wire funds from your EXCEL account to another financial institution, please complete the <%= link_to "Member Wire-Out Transfer Request", "pdf/MEMBERWIREOUT.pdf", :rel=>"external" %> form and fax it (770) 729-8852.</p>
    </div>
  </div>
 </div>
